
	<div id="softsecurity">
		<div id="residencia">
			<p class="textRes" style="font-weight: bold;">Residencia 23</p>
		</div>	
		<div id="alertaApp">
			<app-alerta></app-alerta>
		</div>
		<div id="falloApp">
			<app-fallo></app-fallo>
		</div>	
		<div id="datos" >
			<p class="etiqueta" style="font-weight: bold;">Propietario: Andrés Felipe Pinzón</p>
			<p class="etiqueta" style="font-weight: bold;">Teléfono: 4343543</p>
			<p class="etiqueta" style="font-weight: bold;">E-mail: af.pinzon@gmail.com</p>
			<p class="etiqueta" style="font-weight: bold;">Dirección: Cll siempreviva 123</p>
		</div>
	</div>

<div *ngIf="falloSelect">
		<div id="softsecurity">
			<div id="residencia">
				<p class="textRes" style="font-weight: bold;">Fallos</p>
			</div>	
			<div id="alertaApp">
				<app-alerta></app-alerta>
			</div>
			<div id="falloApp">
				<app-fallo></app-fallo>
			</div>	
			<div id="datos" >
				<p class="etiqueta" style="font-weight: bold;">Lokita</p>
				<p class="etiqueta" style="font-weight: bold;">Teléfono: 4343543</p>
				<p class="etiqueta" style="font-weight: bold;">E-mail: af.pinzon@gmail.com</p>
				<p class="etiqueta" style="font-weight: bold;">Dirección: Cll siempreviva 123</p>
			</div>
		</div>
	</div>
